* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a, nav ul li form button {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li form button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

main {
    flex: 1;
    padding: 20px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.features div {
    max-width: 300px;
}

.features h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.features ul {
    text-align: left;
    list-style: disc;
    padding-left: 20px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.project {
    background: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1 0 21%;
    max-width: 21%;
    box-sizing: border-box;
    text-align: left;
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project p {
    margin: 5px 0;
}

.project .contributors {
    font-size: 0.9rem;
    color: #555;
}
